<?xml version="1.0" encoding="utf-8" ?>
<Services>  
  <!-- Kernel-->
  <Service Implement="Albian.Kernel.log4netPlugin.Log4netService,Albian.Kernel" Interface="Albian.Kernel.Service.IAlbianService,Albian.Kernel"/>
  <Service Implement="Albian.Kernel.Parser.Impl.KernelParser,Albian.Kernel" Interface="Albian.Kernel.Parser.IKernelParser,Albian.Kernel"/>
  <Service Implement="Albian.Kernel.IdService,Albian.Kernel" Interface="Albian.Kernel.IIdService,Albian.Kernel"/>
  <Service Implement="Albian.Persistence.Imp.Parser.Impl.StorageParser,Albian.Persistence.Imp" Interface="Albian.Persistence.Imp.Parser.IStorageParser,Albian.Persistence.Imp"/>
  <Service Implement="Albian.Persistence.Imp.Parser.Impl.PersistenceParser,Albian.Persistence.Imp" Interface="Albian.Persistence.Imp.Parser.IPersistenceParser,Albian.Persistence.Imp"/>
  <Service Implement="Albian.Kernel.ThreadPool.Impl.ThreadPoolService,Albian.Kernel" Interface="Albian.Kernel.ThreadPool.IThreadPoolService,Albian.Kernel"/>
  <Service Implement="Albian.Kernel.Cached.Impl.ExpiredCached,Albian.Kernel" Interface="Albian.Kernel.Cached.IExpiredCached,Albian.Kernel"/>
  
  <!--Business-->
  <Service Implement="Albian.Kernel.Cached.Impl.ExpiredCached,Albian.Kernel" Interface="Albian.Kernel.Cached.IExpiredCached,Albian.Kernel"/>
  
</Services>
