<?xml version="1.0" encoding="utf-8" ?>
<AlbianObjects>
  <AlbianObject Implement="AppTest.Model.Imp.LogInfo,AppTest.Model.Imp" Interface="AppTest.Model.ILogInfo,AppTest.Model">
    <Routings>
      <Routing Name="firestRouting" StorageName="firststorage" TableName="Log" Owner="dbo" Permission="W"></Routing>
    </Routings>
    <Members>
      <Member Name="Id" FieldName="LogId"/>
    </Members>
  </AlbianObject>
  <AlbianObject Implement="AppTest.Model.Imp.User,AppTest.Model.Imp" Interface="AppTest.Model.IUser,AppTest.Model">
    <Routings>
      <Routing Name="firestRouting" StorageName="firststorage" TableName="User" Owner="dbo" Permission="W"></Routing>
    </Routings>
  </AlbianObject>
  <AlbianObject Implement="AppTest.Model.Imp.Order,AppTest.Model.Imp" Interface="AppTest.Model.IOrder,AppTest.Model">
    <Cache Enable="true" LifeTime="300"></Cache>
    <Routings>
      <Routing Name="firestRouting" StorageName="firststorage" TableName="OrderById" Owner="dbo" Permission="WR"></Routing>
      <Routing Name="secondRouting" StorageName="secondstorage" TableName="OrderById" Owner="dbo" Permission="WR"></Routing>
    </Routings>
    <Members>
      <Member Name="Id" FieldName="OrderId" AllowNull="false" Length="36" PrimaryKey="true" DbType="string" IsSave="true"/>
    </Members>
  </AlbianObject>
  <AlbianObject Implement="AppTest.Model.Imp.Bizoffer,AppTest.Model.Imp" Interface="AppTest.Model.IBizoffer,AppTest.Model">
    <Routings>
      <Routing Name="firestRouting" StorageName="firststorage" TableName="OrderById" Owner="dbo" Permission="W"></Routing>
    </Routings>
    <Members>
      <Member Name="Id" FieldName="BizOfferId" AllowNull="false" Length="36" PrimaryKey="true" DbType="string" IsSave="true"/>
    </Members>
  </AlbianObject>
</AlbianObjects>
