<?xml version="1.0" encoding="utf-8" ?>
<Services>
  <Service Id="Test1" Implement="Albian.Sercice.Imp.TestProject.ServiceT,Albian.Sercice.Imp.TestProject"
           Interface="  Albian.Sercice.Imp.TestProject.IService,Albian.Sercice.Imp.TestProject"/>
  <Service Id="Test" Implement="Albian.Sercice.Imp.TestProject.ServiceTest,Albian.Sercice.Imp.TestProject"
           Interface="  Albian.Sercice.Imp.TestProject.IServiceTest,Albian.Sercice.Imp.TestProject"/>
</Services>