<?xml version="1.0" encoding="utf-8" ?>
<Services>
  <Service Id="KenerlService" Implement="Albian.Kernel.Parser.Impl.KernelParser,Albian.Kernel" 
           Interface="Albian.Kernel.Parser.IKernelParser,Albian.Kernel"/>
  <Service Id="IdService" Implement="Albian.Kernel.IdService,Albian.Kernel"
           Interface="Albian.Kernel.IIdService,Albian.Kernel"/>
  <Service Id="StorageService" Implement="Albian.Persistence.Imp.Parser.Impl.StorageParser,Albian.Persistence.Imp"
       Interface="Albian.Persistence.Imp.Parser.IStorageParser,Albian.Persistence.Imp"/>
  <Service Id="PersistenceService" Implement="Albian.Persistence.Imp.Parser.Impl.PersistenceParser,Albian.Persistence.Imp"
       Interface="Albian.Persistence.Imp.Parser.IPersistenceParser,Albian.Persistence.Imp"/>
  <Service Id="ThreadPoolService" Implement="Albian.Kernel.ThreadPool.Impl.ThreadPoolService,Albian.Kernel"
         Interface="Albian.Kernel.ThreadPool.IThreadPoolService,Albian.Kernel"/>
  <Service Id="ExpiredCachedService" Implement="Albian.Kernel.Cached.Impl.ExpiredCached,Albian.Kernel"
        Interface="Albian.Kernel.Cached.IExpiredCached,Albian.Kernel"/>
</Services>
