<?xml version="1.0" encoding="utf-8" ?>
<Services>
  <Service Id="AppIdService" Implement="Albian.Kernel.KernelParser,Albian.Kernel" 
           Interface="Albian.Kernel.IKernelParser,Albian.Kernel"/>
  <Service Id="IdService" Implement="Albian.Kernel.IdService,Albian.Kernel"
           Interface="Albian.Kernel.IIdService,Albian.Kernel"/>
</Services>